.loading {
  width: 100px;
  height: auto;
  animation-name: loading;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#cannotFind {
  display: none;
}

.heading {
  font-size: 1.75rem;
}

.social {
  width: 65px;
  height: auto;
  margin-top: 10px;
}

.gray-footer {
  background: linear-gradient(to left, #ffbc8fff, #ffdd80ff);
  width: 100vw;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 20px 20px 20px;
}

* {
  word-wrap: wrap;
}

body {
  position: static;
}

.access-code-fieldset {
  padding: 15px;
}

.code-and-submit {
  display: flex;
  margin-top: 5px;
}

.submit-btn {
  background-color: #9b0303;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 15pt;
  width: 110px;
  transition: 0.3s;
  translate: 0 -12.5px;
  cursor: pointer;
  margin-left: 10px;
}

.submit-btn:hover {
  background-color: #ff6600ff;
}

.every-content-container {
  position: relative;
}

.hide-until-code {
  display: none;
}

.small-label {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0;
}

.input-access-code {
  width: fit-content;
  font-size: 15pt;
  margin-top: 0;
  padding-left: 5px;
  margin-bottom: 15px;
}

.sign-in-legend {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.audio-and-download {
  display: flex;
  margin-top: 10px;
}

a[download] {
  margin-left: 10px;
  background: #ffa66bff;
  border: none;
  padding: 5px;
  border-radius: 7px;
  min-width: 100px;
  cursor: pointer;
  transition: .5s;
  text-decoration: none;
  color: black;
  word-break: break-word;
  text-align: center;
  font-size: 1rem;
  height: fit-content;
}

a[download]:hover {
  background: #ffd86bff;
}

.register {
  background-color: #9b0303;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 15pt;
  width: 110px;
  transition: 0.3s;
  cursor: pointer;
}

li>.register {
  margin-top: 0;
}

.register:hover {
  background-color: #ff6600ff;
}

ul.no-bullet {
  text-align: left;
}

.list-item {
  color: #000;
}

p,
a,
li {
  font-size: 1.3rem;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.PDF {
  height: 2200px;
}

.contents {
  display: block;
  z-index: 1;
  text-align: center;
}

.side-bar {
  z-index: 1;
}

.top-contents {
  width: 360px;
  background: rgb(230, 230, 230);
  z-index: 1;
}

.gray {
  display: flex;
  flex-direction: column;
}

.gray {
  background: rgb(230, 230, 230);
  width: 65%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 0px 20px 0px;
  border-radius: 15px;
}

.access-code-gray {
  background: rgb(230, 230, 230);
  width: 65%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 20px 20px 20px;
}

.contents-container {
  position: relative;
  align-items: start;
}

.left-align,
audio,
.heading-container {
  font-size: 16pt;
  margin: 0;
}

audio {
  width: 100%;
  min-width: 200px;
}

.meaning_font {
  font-size: 14pt;
}

.big-h2 {
  font-size: 22pt;
  text-align: center;
}

dialog {
  z-index: 10;
  margin-top: 10px;
  border: none;
  border-radius: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.close-button {
  position: relative;
  /* changed from absolute */
  background: transparent;
  z-index: 1000;
  display: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  /* ensures it stays above other elements */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  font-weight: bold;
  padding: 20px 20px 20px;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

.printPDFbutton {
  margin-left: 0px;
  background: #ffa66bff;
  border: none;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  transition: .5s;
  min-width: 100px;
}

.printPDFbutton:hover {
  background: #ffd86bff;
}

.footer {
  background-image: linear-gradient(to right, #ffc800, #ff6600ff);
  padding: 10px;
  align-items: baseline;
}

@media only screen and (max-width: 650px) {
  .PDF {
    width: 100%;
  }

  .gray {
    width: 90%;
  }

  .access-code-gray {
    width: 90%;
  }

  .code-and-submit {
    flex-direction: column;
  }

  .submit-btn {
    margin-left: 0;
  }

  .heading-container {
    justify-content: center;
  }

  .printPDFbutton {
    margin-top: 15px;
  }
}

@keyframes loading {
  0% {
    rotate: 0;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 360deg;
  }
}

/* mobile */

@media only screen and (max-width: 400px) {
  .audio-and-download {
    display: block;
  }

  a[download] {
    margin-top: 15px;
    padding: 10px;
  }

  audio {
    margin-bottom: 10px;
  }
}

/* small mobile */

@media only screen and (max-width: 365px) {
  .gray {
    width: 100vw;
  }
}