* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Arial;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-image: linear-gradient(to right, #ffc800 , #ff6600ff);
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 1px;
  width: 100%;
  z-index: 3;
}

.bold-selected-item {
  margin-left: 10px;
}

#brand {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-around;
}

ul>a {
  color: white;
}

a, li.menu-only {
  font-size: 1.3rem;
}

ul>li.menu-only {
  padding: 5px;
  margin-left: 10px;
}

#menu-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  transition: 1s;
}

#menu-icon div {
  width: 40px;
  height: 3px;
  background: white;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
  width: 70px;
  transition: 0.5s;
}

.open .bar2 {
  opacity: 0;
  transition: 0.5s;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
  width: 70px;
  transition: 0.5s;
}

.bar1, .bar2, .bar3 {
  margin-top: 5px;
  transition: 0.5s;
}

.mobile-menu {
  transition: 1s;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 270px;
  line-height: 30px;
  background-image: linear-gradient(to right, #ffc800 , #ff6600ff);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 650px) {
  header nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }
}


