dialog {
  z-index: 10;
  margin-top: 10px;
  border: none;
  border-radius: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 20px 20px 20px;
}

.social {
  width: 65px;
  height: auto;
  margin-top: 10px;
}

.link-contact {
  text-decoration: none;
  color: #9b0303;
}

.link-contact:hover {
  text-decoration: underline;
}

.agree-and-disagree {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.heading {
  font-size: 1.75rem;
}

.face {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.gray {
  background: rgb(230, 230, 230);
  width: 65%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 20px 20px 20px;
  border-radius: 15px;
}

.gray-footer {
  background: linear-gradient(to left, #ffbc8fff, #ffdd80ff);
  width: 100vw;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 20px 20px 20px;
}

.header {
  display: flex;
  background-color: #ffc800;
  width: 100vw;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

p.vignette {
  position: relative;
  overflow: hidden;
}

p.vignette img {
  display: block;
  overflow: hidden;
  border-bottom-right-radius: 15px;
}

p.vignette:after {
  background: -webkit-linear-gradient(left, #ffc800 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  /*smoothness*/
  width: 30%;

  height: 100%;
  z-index: 2;
  content: "";
  align-self: left;
}

.title {
  color: #000000;
  font-size: 40pt;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

.policies-heading {
  color: #000000;
  font-size: 30pt;
  font-weight: 500;
}

.half-header {
  display: flex;
  width: 50vw;
  justify-content: center;
  flex-direction: row;
}

.Shri-Vihar {
  font-size: 65pt;
}

.cover-image {
  width: calc(100vw / 2);
  height: auto;
  z-index: 2;
  position: relative;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraph {
  font-size: 1.5rem;
}

.footer {
  background-image: linear-gradient(to right, #ffc800, #ff6600ff);
  padding: 10px;
  align-items: baseline;
}

.heading-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-button {
  display: flex;
  flex-direction: column;
}

.register-x {
  display: flex;
  justify-content: center;
}

.policies > li {
  margin-top: 10px;
}

.policies + li {
  margin-top: 0;
}

.disagree {
  background-color: white;
  border: 5px solid #9b0303;
  color: #9b0303;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 15pt;
  width: 110px;
  transition: 0.3s;
  cursor: pointer;
}

.register {
  background-color: #9b0303;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 15pt;
  width: 110px;
  transition: 0.3s;
  cursor: pointer;
}

li > .register {
  margin-top: 0;
}

.register:hover {
  background-color: #ff6600ff;
}

.disagree:hover {
  background-color: #ff6600ff;
  color: white;
}

.img2-3 {
  display: flex;
  width: 100%;
  gap: 5px;
}

.IMG_1,
.IMG_2,
.IMG_3 {
  max-width: 100%;
  margin: 0;
  border: 3px solid black;
  border-radius: 5px;
}

.IMG_2,
.IMG_3 {
  max-width: calc(50% - 5px / 2);
}

.IMG_1 {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.IMG_2 {
  border-bottom-left-radius: 15px;
}

.IMG_3 {
  border-bottom-right-radius: 15px;
}

.gallery-img {
  width: calc(calc(100% / 3) - 5px);
  margin-bottom: 3px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

img[src="gallery/1.jpg"] {
  border-top-left-radius: 30px;
}
img[src="gallery/3.jpg"] {
  border-top-right-radius: 30px;
}
img[src="gallery/19.jpg"] {
  border-bottom-left-radius: 30px;
}
img[src="gallery/20.jpg"] {
  border-bottom-right-radius: 30px;
}

/*tablet*/
@media only screen and (max-width: 800px) {
  .title {
    font-size: 25pt;
  }

  .Shri-Vihar {
    font-size: 35pt;
  }
}

/*phone*/
@media only screen and (max-width: 650px) {
  .cover-heading,
  .gray {
    width: 90%;
  }

  .title {
    font-size: 20pt;
  }

  .Shri-Vihar {
    font-size: 30pt;
  }

  .register {
    font-size: 12pt;
    padding: 7px;
  }

  .gallery-img {
    width: calc(calc(100% / 2) - 5px);
  }

  img[src="gallery/2.jpg"] {
    border-top-right-radius: 30px;
  }

  img[src="gallery/3.jpg"] {
    border-radius: 5px;
  }
}

/*phone flipped*/
@media only screen and (max-height: 575px) {
  .title {
    font-size: 15pt;
  }

  .Shri-Vihar {
    font-size: 25pt;
  }
}
